# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [46]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [47]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [48]:
# Dragon + Grass

import pandas as pd
import scipy.stats as stats

import pandas as pd
import scipy.stats as stats

# Dragon-type and Grass-type PokÃ©mon
dragon_hp = df[df['Type 2'] == 'Dragon']['HP']
grass_hp = df[df['Type 1'] == 'Grass']['HP']

# Conduct the Two Sample T-Test
t_stat, p_value = stats.ttest_ind(dragon_hp, grass_hp, equal_var=True)

# Since we are testing if Dragon HP is greater than Grass HP, we need a one-tailed test
p_value_one_tailed = p_value / 2 if t_stat > 0 else 1 - (p_value / 2)

# Print results
print(f"T-statistic: {t_stat}")
print(f"P-value (one-tailed): {p_value_one_tailed}")

# Decision
if p_value_one_tailed < 0.05:
    print("Reject the null hypothesis: Dragon-type PokÃ©mon have significantly higher HP.")
else:
    print("Fail to reject the null hypothesis: No significant difference in HP.")

T-statistic: 2.5827360636587904
P-value (one-tailed): 0.005746459334608705
Reject the null hypothesis: Dragon-type PokÃ©mon have significantly higher HP.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [53]:
# ANOVA 

import pandas as pd
from scipy.stats import f_oneway  

# List of stats to analyze
stats_columns = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

# Perform ANOVA for each stat
for stat in stats_columns:
    legendary_stats = df[df['Legendary'] == 'True'][stat]
    non_legendary_stats = df[df['Legendary'] == 'False'][stat]

    # Perform one-way ANOVA
    f_stat, p_value = f_oneway(legendary_stats, non_legendary_stats)
    
    print(f"ANOVA test for {stat}: F-statistic = {f_stat}, p-value = {p_value}")

    if p_value < 0.05:
        print(f"Reject the null hypothesis for {stat}: Significant difference exists.\n")
    else:
        print(f"Fail to reject the null hypothesis for {stat}: No significant difference.\n")

ANOVA test for HP: F-statistic = nan, p-value = nan
Fail to reject the null hypothesis for HP: No significant difference.

ANOVA test for Attack: F-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Attack: No significant difference.

ANOVA test for Defense: F-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Defense: No significant difference.

ANOVA test for Sp. Atk: F-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Sp. Atk: No significant difference.

ANOVA test for Sp. Def: F-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Sp. Def: No significant difference.

ANOVA test for Speed: F-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Speed: No significant difference.

c:\Users\Elechiguerra\anaconda3\envs\labs_ih\Lib\site-packages\scipy\stats\_stats_py.py:4102: DegenerateDataWarning: at least one input has length 0
  if _f_oneway_is_too_small(samples):

In [43]:
from scipy.stats import kruskal

# Conduct the Kruskal-Wallis test for each stat
for stat in ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']:
    legendary_stats = df[df['Legendary'] == 'True'][stat]
    non_legendary_stats = df[df['Legendary'] == 'False'][stat]

    h_stat, p_value = kruskal(legendary_stats, non_legendary_stats)
    
    print(f"Kruskal-Wallis test for {stat}: H-statistic = {h_stat}, p-value = {p_value}")

    if p_value < 0.05:
        print(f"Reject the null hypothesis for {stat}: Significant difference exists.\n")
    else:
        print(f"Fail to reject the null hypothesis for {stat}: No significant difference.\n")

Kruskal-Wallis test for HP: H-statistic = nan, p-value = nan
Fail to reject the null hypothesis for HP: No significant difference.

Kruskal-Wallis test for Attack: H-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Attack: No significant difference.

Kruskal-Wallis test for Defense: H-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Defense: No significant difference.

Kruskal-Wallis test for Sp. Atk: H-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Sp. Atk: No significant difference.

Kruskal-Wallis test for Sp. Def: H-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Sp. Def: No significant difference.

Kruskal-Wallis test for Speed: H-statistic = nan, p-value = nan
Fail to reject the null hypothesis for Speed: No significant difference.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [44]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [45]:
import pandas as pd
import numpy as np
from scipy import stats

# Coordinates for school and hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# Function to calculate Euclidean distance
def calculate_distance(row, coords):
    return np.sqrt((row[0] - coords[0])**2 + (row[1] - coords[1])**2)

# Calculate distances to school and hospital
df['distance_to_school'] = df.apply(calculate_distance, axis=1, args=(school_coords,))
df['distance_to_hospital'] = df.apply(calculate_distance, axis=1, args=(hospital_coords,))

# Define threshold distance
threshold_distance = 0.50

# Create a new column to identify close houses
df['close_to_school'] = df['distance_to_school'] < threshold_distance
df['close_to_hospital'] = df['distance_to_hospital'] < threshold_distance
df['close_to_either'] = df['close_to_school'] | df['close_to_hospital']

# Prices of the two groups
close_prices = df[df['close_to_either']]['median_house_value']
far_prices = df[~df['close_to_either']]['median_house_value']

# Perform independent t-test
t_stat, p_value = stats.ttest_ind(close_prices, far_prices, equal_var=False)

# Output results
alpha = 0.05  # Significance level
print(f"T-statistic: {t_stat}, P-value: {p_value}")

# Conclusion
if p_value < alpha:
    conclusion = "Reject the null hypothesis: There is a significant difference in prices."
else:
    conclusion = "Fail to reject the null hypothesis: There is no significant difference in prices."

print(conclusion)

C:\Users\Elechiguerra\AppData\Local\Temp\ipykernel_9552\683679518.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.sqrt((row[0] - coords[0])**2 + (row[1] - coords[1])**2)
C:\Users\Elechiguerra\AppData\Local\Temp\ipykernel_9552\683679518.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.sqrt((row[0] - coords[0])**2 + (row[1] - coords[1])**2)

T-statistic: -17.174167998688404, P-value: 5.220018561223529e-05
Reject the null hypothesis: There is a significant difference in prices.